<ion-view class="home-view">

  <!-- Custom Navbar -->
  <div class="bar">
    <button class="button button-clear icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">EST8</h1>
  </div>
  <ion-content>


  <div class="s6_contant_desi">

      <form>
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-search"></i>
          <!--  <input type="text" id="Autocomplete" ng-autocomplete ng-model="search.location" details="details" options="options" placeholder="POSTAL, City, Neighborhood" STYLE="background-color:#FFFFFF"> -->
          <input type="text" ng-model="search.location" placeholder="POSTAL, City, Neighborhood" >
          </label>
          </div>

      <hr class="pink_hr" />
      <div class="row">
            <label class="item item-input col">
                <input type="number" ng-model="search.minPrice" placeholder="Min Price">
            </label>
            <label class="item item-input col">
                <input type="number" ng-model="search.maxPrice" placeholder="Max Price">
            </label>
      </div>

      <hr class="pink_hr" />
      <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         Beds
      </div>
      <select ng-model="search.noOfBeds">
         <option value="1" selected>1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4+</option>
      </select>
      </label>

      <hr class="pink_hr" />
      <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         Baths
      </div>
      <select ng-model="search.noOfBaths">
         <option value="1" selected>1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4+</option>
      </select>
      </label>

      <hr class="pink_hr" />
      <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         House Type
      </div>
      <select ng-model="search.type">
         <option value="House" selected>House</option>
         <option value="Condo">Condo</option>
         <option value="Apartment">Apartment</option>
      </select>
      </label>
      <hr class="pink_hr" />
      <button class="s6_sreach_btn" type="submit" ng-click="submitFilterParams(search)">Search</button>
    </form>
      </div>

      <!--<hr class="pink_hr" />-->
</ion-content>

<ion-footer-bar class="s5_footer">
    <button class="s6_sreach_btn2" position="center" type="submit" ui-sref="premiumappOne.cardSwipe">Skip Search</button>

    <!--<button class="s6_sreach_btn" type="submit" ng-click="submitFilterParams(search)">Search</button>-->
  </ion-footer-bar>
</ion-view>
