<!--<ion-view class="location-view" cache-view="false">
  <ion-nav-title>
    <span>Est8</span>
  </ion-nav-title>
  <ion-content class="center">
  <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="search.location" current-location="true" />
  <button class="button" ng-click="locationEnter(search)">Submit</button>
  </ion-content>
</ion-view> -->
<!--Start -->
<ion-view class="home-view">

  <!-- Custom Navbar -->
  <div class="bar">
    <button class="button button-clear icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">EST8</h1>
  </div>
  <ion-content class="center">
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row s6_contant_desi">
    <div class = "col col-center">
      <form>
        <div class="list center">
         <label class="item item-input">
            <i class="icon ion-search"></i>
        <!--  <input type="text" id="Autocomplete" ng-autocomplete ng-model="search.location" details="details" options="options" placeholder="POSTAL, City, Neighborhood" STYLE="background-color:#FFFFFF"> -->
          <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="search.location" current-location="true" />
          </label>
          </div>
      Advanced Search <input type="checkbox" ng-model="advanced" aria-label="toggle ngShow"><br/>
      <div ng-show="advanced">
        <div class="row">
            <label class="item item-input col">
                <input type="number" ng-model="search.minPrice" placeholder="Min Price">
            </label>
            <label class="item item-input col">
                <input type="number" ng-model="search.maxPrice" placeholder="Max Price">
            </label>
      </div>

      <hr class="pink_hr" />
      <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         Beds
      </div>
      <select ng-model="search.noOfBeds">
         <option value="1" selected>1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4+</option>
      </select>
      </label>

      <hr class="pink_hr" />
      <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         Baths
      </div>
      <select ng-model="search.noOfBaths">
         <option value="1" selected>1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4+</option>
      </select>
      </label>

      <hr class="pink_hr" />
      <label class = "item item-input item-select item-royal">
      <div class = "input-label">
         House Type
      </div>
      <select ng-model="search.type">
         <option value="House" selected>House</option>
         <option value="Condo">Condo</option>
         <option value="Apartment">Apartment</option>
      </select>
      </label>
    </div>
      <button class="s6_sreach_btn" type="submit" ng-click="locationEnter(search)">Search</button>
    </form>
      </div>
    </div>

      <!--<hr class="pink_hr" />-->
</ion-content>

<ion-footer-bar class="s5_footer">
    <button class="s6_sreach_btn2" position="center" type="submit" ui-sref="premiumappOne.cardSwipe">Skip Search</button>

    <!--<button class="s6_sreach_btn" type="submit" ng-click="submitFilterParams(search)">Search</button>-->
  </ion-footer-bar>
</ion-view>
