<ion-view view-title="Google Maps V3 example">

     <ion-content data-tap-disabled="true">

       <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
         <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">

         </ui-gmap-marker>
       </ui-gmap-google-map>

     </ion-content>

  </ion-view>
