<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
    <!--  <ion-nav-back-button>
    </ion-nav-back-button>-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="">
          Nav 1
        </ion-item>
        <ion-item menu-close href="">
          Nav 2
        </ion-item>
        <ion-item menu-close href="">
          Nav 3
        </ion-item>
        <ion-item menu-close href="">
          Nav 4
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
<!--  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Favourites</h1>
    </ion-header-bar>
    <ion-content>
    <ion-list>
    <ion-item menu-close href="">
      Stuff 1
    </ion-item>
    <ion-item menu-close href="">
      Stuff 2
    </ion-item>
    <ion-item menu-close href="">
      Stuff 3
    </ion-item>
  </ion-list>
</ion-content>
  </ion-side-menu>-->
  
</ion-side-menus>
