<ion-view class="welcome-view" cache-view="false">
  <!--<ion-content scroll="false">-->
    <div class="top-content row">
      <div class="app-copy col col-top text-center">
        <h1 class="app-logo">EST8</h1>
        <p class="app-tagline">
            Discover real estate listings
          </p>
      </div>
    </div>
    <ion-content scroll="false" class="center">
    <div class="bottom-content row text-center">
      <div class="col col-bottom fb-button">
        <a class="facebook-sign-in button button-positive" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
