// Card Swipe Screen
// refer to www/templates/premium1/card-swipe.html

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Animation keyframes for .card-deck-message (The message displayed when all cards are off the deck)
@keyframes fadeInFromTop {
	  0% {
			transform: scale(1);
			margin-top: -100px;
			opacity: 0;
			display: block !important;
	  }
	  100% {

	    /*transform: scaleY(0.8);*/
			transition: 0.8s;
			opacity: 1;
			margin-top: 0px;
			cursor: w-resize;
			display: block !important;
	  }
	}
// End Animation keyframes

.tinder-premium-one{
	.card-deck-message {

		border: 1px solid #ddd;
		* {
			color: $mine-shaft;
		}
	}
	.bar, .premium-headerbar.bar {
		 min-height: 50px;
		 background-color: $brand-base-color;
		 border: none;
		 .title {
		 	top: 3px;
		 	color: $white;
		 	img {
		 		height: 100%;
		 	}
		 }
		 button {
		 	padding-left:10px;
		 	padding-right:10px;
		 	&.button.button-clear {
		 		color: $white;
		 	}
		 }
	.notification-bubble{
	    position: absolute;
	    top: 0px;
	    right: -5px;
	    background-color: red;
	    display: inline-block;
	    width: 15px;
	    height: 15px;
	    border-radius: 10px;
	    font-size: 10px;
	    line-height: 1.5em;
	    color: white;
		}
	}

	td-cards.responsive {
	  display: block;
	  td-card {
			left: 10%;
			margin-left: 0;
			width: 80%;
			height: auto;
			.tinder-thumb {
				height: auto !important;
			}
		}

	  .button-controls.row{
			height: auto;
			.col {margin-top:0;}
			.tinder-control {
				width: 75px;
    			height: 75px;
    			i {
	    	        margin-top: 15px;
				    font-size: 40px;
				  }
			}
	   }
	}

	td-card {
	  position: absolute;
	  left: 50%;
	  margin-top: 80px;
	  margin-bottom: 40px;
	  margin-left: -150px;
	  width: 300px;
	  height: 325px;

	  // border: 1px solid #999;
	  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	  border-radius: 6px;
	}

	td-card .image {
	  position: relative;
	}

	td-card img {
	  max-width: 100%;
	  border-radius: 6px;
	}

	.yes-text {
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  font-size: 14px;
	  color: rgb(111, 250, 111);
	  opacity: 0;
	  z-index: 2;
	}
	.no-text {
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  font-size: 14px;
	  color: rgb(255, 115, 115);
	  opacity: 0;
	  z-index: 2;
	}

	.fade {
	  -webkit-transition: 0.2s opacity linear;
	  transition: 0.2s opacity linear;
	  opacity: 0;
	}
}

// Message box
.card-deck-message {
	animation-duration: 0.8s;
	animation-name: fadeInFromTop;
    position: absolute;
    top: 20%;
    left: 15%;
    text-align: center;
    z-index: 1;
    width: 70%;
    // display: none;
    border: 1px solid #fff;
    height: 40%;
    @include border-radius(15px);
    padding: 10%;
}

td-card.ruby-tindercard {



	.no-text {
		    padding: 5px 10px;
		    background-color: #e74c3c;
		    display: inline-block;
		    border-radius: 7px;
		    color: white;
		    border: 4px solid rgba(255, 255, 255, 0.5);
	}

	.yes-text {
		    padding: 5px 10px;
		    background-color: #2ecc71;
		    display: inline-block;
		    border-radius: 7px;
		    color: white;
		    border: 4px solid rgba(255, 255, 255, 0.5);
	}

	// vip badge (For premium members)
	.vip-badge {
		@include border-radius(500px);
		border:5px solid rgba(242, 243, 244, 0.38);
		color: $white;
		font-size: 16px;
		display: inline-block;
		background-color: $orange;
	    padding: 10px;
	    position: absolute;
	    top: 10px;
	    right: 10px;
        z-index: -1;
	}

	// #############################################
	// Tinder Card Design Two - Full image with cutout
	&.tinder-style-two {



		.vip-badge {z-index:0;}

		background-color: $white;

		h1,h2,h3,h4,h5,h6 {margin:4px 0;}

		p {
	        font-size: 13px;
		    line-height: 1.4em;
		    margin-top: 10px;
		    border-top: 1px solid #ccc;
		    padding-top: 5px;
		}

		// thumbnail image
		.tinder-thumb {
			height: 500px;
    		overflow: hidden;
    		border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			img {
				// background: url('../img/demo/loader.svg') no-repeat center center;
			}
		}

		.tinder-thumb img {
			display: block;
		    width: 100%;
		    margin-top: -25%; // Any image with a width of 100% in this case would be centralized vertically by the %
		}

		.small-info {color: $concrete;}

	}
	// End Tinder Design Two
	// #############################################

}

// Tinder Control bar

	.button-controls.row > .col {
		    margin-top: -54px;
	}

	.button-controls.row {
	    position: absolute;
	    bottom: 0;
	    height: 100px;
	    // border-top: 5px solid darken($brand-base-color, 10%);

	    .tinder-control {
	    	@include border-radius(500px);
    	    width: 100px;
    		height: 100px;
    	    text-align: center;
		    font-size: 30px;
		    // border:6px solid #fff;
		    margin:0 auto;


			i {
	    	    margin-top: 24px;
			    display: inline-block;
			    font-size: 50px;
		    }

	    }

	    .tinder-accept {
	    	@extend .tinder-control;
		    color: $emerald;
		    background-color: $white;
		    border:3px solid $emerald;
	    }

	   	.tinder-reject
	   	{
	   		@extend .tinder-control;
	   		color: $alizarin;
		    background-color: $white;
		    border:3px solid $alizarin;
	   	}

	   	.tinder-info{
	   		@extend .tinder-control;
	   		color: white;
		    background-color: $concrete;
		    width: 70px; height:70px;
	        // margin-top: -48px;
		    i {
		    	font-size: 32px;
		    }
	   	}
	}


.tinder-profile{
	padding-top: 44px;

	// Slider-Clip Window. specify your height as needed. images taller than this will be clipped.
	.slider-clip {

		ion-slide img {
			width:100%;
		}

		height: 300px;
		overflow: hidden;
		background-color: $white;
	}


	.profile-title {
		position: relative;
		color: $white;
		background-color: $mine-shaft;

		h1, h2, h3, h4, h5, h6 {
			color: $white;
		}
	}

	.profile-actions {
		position: absolute;
		right: 10px;
		top: -30px;
	}

	.profile-button{
		    border-radius: 500px;
		    border: none;
		    color: white;
		    padding: 10px 16px;
		    margin: 10px 0;
		    text-align: center;
		    font-size: 20px;

		    &.accept {
		    	background-color: $emerald;
		    }

		    &.reject {
		    	background-color: $alizarin;
		    }
	}

	.profile-details {
		// background-color: darken($brand-base-color, 10%);
		color: $white;
	}

	.profile-content {
		background-color: #eaeaea;
	}
}
