.premium-profile-screen {
	.bar {
		background-color: $alizarin;
		color: white;
		.title, .button {
			color: white;
		}
		.title {}
	}

	.profile-details {
		background-color: $white;
		.tinder-profile-actions {
			text-align: right;
			button {
				min-width: 45px;
				min-height: 35px;
			}
			button.accept {
				color: $emerald;
			}
			button.reject {
				color: $alizarin;
			}
		}
	}

	.profile-gallery {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		div > img {
			width: 95%;
		}
	}
}