.premium-menu-screen {
	.list-style {
		color: $white;
		border-color:rgba(255, 255, 255, 0.02);
	}
	background:#191919;
	color: $white;
	.group-header {
		color: $alizarin;
		text-indent: 8px;
		margin: 10px 0;
		i {color:$white; padding-right:10px;}
	}
	.item.item-input {
		margin: 7px 0 20px 0;
		padding: 6px 0 5px 13px;

		input {
			    border: 1px solid;
			    border-radius: 20px;
			    padding: 0 15px;
			    margin-right: 10px;
			    border-color:rgba(255, 255, 255, 0.2);
			    height: 45px;
			    color: $white;

			    &::-webkit-input-placeholder {
				   color: $white;
				}

				&:-moz-placeholder { /* Firefox 18- */
				   color: $white;  
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				   color: $white;  
				}

				&:-ms-input-placeholder {  
				   color: $white;  
				}
		}
		.placeholder-icon{

		}
	}
	.list {
		&.matches {
			a.item {
				.match-name{
					color: $white;					
				}
				.match-detail{
					font-size: 12px;
				}
			}
		}
		.item {
			background: transparent;
			.badge {
				top:24px;
				padding: 3px 10px 3px 10px;
			    line-height: 26px;
			    border-radius: 200px;
			    right: 14px;
			}
		}
	}
	.item-complex .item-content, .item {
			a{
				padding-top:30px;
				padding-bottom:30px;
				.badge {
					top:28px;
					right: 14px;
				}
			}
			&.item-thumbnail{
				a {
					position:relative;
					padding-left:75px;
					img.profile-thumb {
						border-radius: 50px;
					    width: 50px;
					    position: absolute;
					    top: 15px;
				        left: 10px;
					}
					.badge {
						top:28px;
					}
				}

			}
			background-color: transparent;
			@extend .list-style;
		}
	
}