// Tinder Screen
// refer to 
	// www/templates/tinder-one.html
	// www/templates/tinder-two.html 
	// www/templates/tinder-three.html 
	// www/templates/tinder-four.html 
// for source code

// Animation keyframes for .card-deck-message (The message displayed when all cards are off the deck)
@keyframes fadeInFromTop {
	  0% {
			transform: scale(1);
			margin-top: -100px;
			opacity: 0;
			display: block !important;
	  }
	  100% {
	    
	    /*transform: scaleY(0.8);*/
			transition: 0.8s;
			opacity: 1;
			margin-top: 0px;
			cursor: w-resize;
			display: block !important;
	  }
	}
// End Animation keyframes 

.tinder-screen{
	td-cards {
	  display: block;
	}

	td-card {
	  position: absolute;
	  left: 50%;
	  margin-top: 80px;
	  margin-bottom: 40px;
	  margin-left: -150px;
	  width: 300px;
	  height: 325px;

	  // border: 1px solid #999;
	  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	  border-radius: 6px;
	}

	td-card .image {
	  position: relative;
	}

	td-card img {
	  max-width: 100%;
	  border-radius: 6px;
	}

	.yes-text {
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  font-size: 14px;
	  color: rgb(111, 250, 111);
	  opacity: 0;
	  z-index: 2;
	}
	.no-text {
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  font-size: 14px;
	  color: rgb(255, 115, 115);
	  opacity: 0;
	  z-index: 2;
	}

	.fade {
	  -webkit-transition: 0.2s opacity linear;
	  transition: 0.2s opacity linear;
	  opacity: 0;
	}
}

// Message box
.card-deck-message {
	animation-duration: 0.8s;
	animation-name: fadeInFromTop;
    position: absolute;
    top: 20%;
    left: 15%;
    text-align: center;
    z-index: 1;
    width: 70%;
    // display: none;
    border: 1px solid #fff;
    height: 40%;
    @include border-radius(15px);
    padding: 10%;
}

td-card.ruby-tindercard {


	.no-text {
		    padding: 5px 10px;
		    background-color: #e74c3c;
		    display: inline-block;
		    border-radius: 7px;
		    color: white;
		    border: 4px solid rgba(255, 255, 255, 0.5);
	}

	.yes-text {
		    padding: 5px 10px;
		    background-color: #2ecc71;
		    display: inline-block;
		    border-radius: 7px;
		    color: white;
		    border: 4px solid rgba(255, 255, 255, 0.5);
	}

	// vip badge (For premium members)
	.vip-badge {
		@include border-radius(500px);
		border:5px solid rgba(242, 243, 244, 0.38);
		color: $white;
		font-size: 16px;
		display: inline-block;
		background-color: $orange;
	    padding: 10px;
	    position: absolute;
	    top: 10px;
	    right: 10px;
        z-index: -1;
	}

	// #############################################
	// Tinder Card Design One - Straight forward
	&.tinder-style-one {
		
		background-color: $white;

		// thumbnail image
		.tinder-thumb {
			margin: 30px auto 0 auto;
		    display: block;
		    @include border-radius(500px);
		    width: 140px;
		    border:6px solid #d5d9db;
		    position: relative;

		    &::before {
		    	width:100px;
		    	height: 100px;
		    	position:absolute;
		    }
		}

	}
	// End Tinder Card Design One
	// #############################################

	// #############################################
	// Tinder Card Design Two - Full image with cutout
	&.tinder-style-two {

		.vip-badge {z-index:0;}
		
		background-color: $white;

		h1,h2,h3,h4,h5,h6 {margin:4px 0;}

		p {
	        font-size: 13px;
		    line-height: 1.4em;
		    margin-top: 10px;
		    border-top: 1px solid #ccc;
		    padding-top: 5px;
		}

		// thumbnail image
		.tinder-thumb {
			height: 200px;
    		overflow: hidden;
    		border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}

		.tinder-thumb img {
			display: block;
		    width: 100%;
		    margin-top: -25%; // Any image with a width of 100% in this case would be centralized vertically by the %
		}

	}
	// End Tinder Design Two
	// #############################################

	// #############################################
	// Tinder Card Design Three - Full image with cutout
	&.tinder-style-three {
		color: $white;
		h1,h2,h3,h4,h5,h6 {margin:4px 0; color:$white;}

		.tinder-thumb {
		    border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}

		.tinder-details {
			@include border-radius(6px);
			padding-top: 30px;
			position: absolute;
		    bottom: 0;
		    // background-color: rgba(0, 0, 0, 0.5);
		    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 46%, rgba(0,0,0,0.64) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(46%,rgba(0,0,0,0.64)), color-stop(100%,rgba(0,0,0,0.64)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 46%,rgba(0,0,0,0.64) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 46%,rgba(0,0,0,0.64) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 46%,rgba(0,0,0,0.64) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 46%,rgba(0,0,0,0.64) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a3000000',GradientType=0 );
		    color: white;
		}

		p {
	        font-size: 13px;
		    line-height: 1.4em;
		    margin-top: 10px;
		    border-top: 1px solid #ccc;
		    padding-top: 5px;
		}
	}
	// End Tinder Card Design Three
	// #############################################

	// #############################################
	// Tinder Card Design Four - Circular image
	&.tinder-style-four {

		color: $white;
	    box-shadow: none;
		h1,h2,h3,h4,h5,h6 {margin:4px 0; color:$white;}

		.yes-text,.no-text{
			font-size: 30px;
			@include border-radius(500px);
			top:200px;
		}

		.yes-text {
			right: 50px;
		}

		.no-text {
			left: 50px;
		}

		.tinder-thumb {
			position: relative;
			width: 250px;
			height: 250px;
			margin: 0 25px;
		   	@include border-radius(500px);
		   	overflow: hidden;
		   	border:5px solid $orange;

		   img {
		   	 margin: 0 auto;
		   	 // width: 70%;
    		 // margin: 15%;
		   }
			.tinder-vip-badge{
				position: absolute;
				width: 100%;
				bottom: 0;
				background-color:$orange;
				h1, h2, h3, h4, h5, h6 {
					text-align: center;
					text-transform: uppercase;
					margin:0;
					padding: 5px 0;
					color: $white;
				}
				.vip-info {
					text-align: center;
					background-color: $carrot; color:$white;
				}
			}
		}


		.card-name {
			@include border-radius(14px);
			background-color: darken($white, 10%);
			padding: 10px 5px 10px 5px;
			color: $outer-space;
			text-align: center;
			margin: 20px 0 0 0;
		    border-bottom: 3px solid transparentize($dim-gray, 0.5);

		}


		.tinder-details {
			@include border-radius(6px);
			padding-top: 30px;
			position: absolute;
		    bottom: 0;
		    color: white;
		}

		p {
	        font-size: 13px;
		    line-height: 1.4em;
		    margin-top: 10px;
		    border-top: 1px solid #ccc;
		    padding-top: 5px;
		}
	}
	// End Tinder Card Design Four
	// #############################################

}

// Tinder Control bar

	.ruby-tindercard-controls.row > .col {
		    margin-top: -54px;
	}

	.ruby-tindercard-controls.row {
	    position: absolute;
	    bottom: 0;
	    height: 100px;
	    border-top: 5px solid darken($brand-base-color, 10%);

	    .tinder-control {
	    	@include border-radius(500px);
    	    width: 85px;
    		height: 85px;
    	    text-align: center;
		    font-size: 30px;
		    border:6px solid #fff;
		    margin:0 auto;


			i {
	    	    margin-top: 12px;
			    display: inline-block;
			    font-size: 50px;
		    }

	    }

	    .tinder-accept {
	    	@extend .tinder-control;
		    color: white;
		    background-color: $emerald;
	    }

	   	.tinder-reject
	   	{
	   		@extend .tinder-control;
	   		color: white;
		    background-color: $alizarin;
	   	}

	   	.tinder-info{
	   		@extend .tinder-control;
	   		color: white;
		    background-color: $concrete;
		    width: 70px; height:70px;
	        // margin-top: -48px;
		    i {
		    	font-size: 32px;
		    }
	   	}
	}


.tinder-profile{
	padding-top: 44px;

	// Slider-Clip Window. specify your height as needed. images taller than this will be clipped.
	.slider-clip {

		ion-slide img {
			width:100%;
		}

		height: 300px;
		overflow: hidden;
		background-color: $white;
	}


	.profile-title {
		position: relative;
		color: $white;
		background-color: $mine-shaft;

		h1, h2, h3, h4, h5, h6 {
			color: $white;	
		}
	}

	.profile-actions {
		position: absolute;
		right: 10px;
		top: -30px;
	}

	.profile-button{
		    border-radius: 500px;
		    border: none;
		    color: white;
		    padding: 10px 16px;
		    margin: 10px 0;
		    text-align: center;
		    font-size: 20px;

		    &.accept {
		    	background-color: $emerald;
		    }

		    &.reject {
		    	background-color: $alizarin;
		    }
	}

	.profile-details {
		background-color: darken($brand-base-color, 10%);
		color: $white;
	}

	.profile-content {
		background-color: #eaeaea;
	}
}