// Refer to templates/premium1/Walkthrough.html
ion-content.walkthrough-premiumone-screen {

	ion-slide {
		padding: 50px 10px;
		.slider-img-logo img {
			width: 100%;
		}
	}
	.walkthrough-bar {
		border-bottom:0px solid transparent;
		width: 100%;
		display: block;
		&.bar-bg-clear {
			position: absolute;
			border-bottom:0px solid transparent;
			background-color: transparent; border-bottom: transparent;
			border-bottom-width:0;
			button.button {
				background-color:transparent;
				border:none;
				z-index: 1;
    			position: absolute;
    			font-size: 13px;
    			&:first-child {
    				left:0;
    			}
    			&:last-child {
    				right:0;
    			}
    		}
		}
	}

	text-align:center;

	.slider {height: 100%;}


}

// #### Slider animation Styles ####7

// We're using ng hooks. if you need more slides,
// follow the format below and increase the number 1. 
// We're doing this because we're using ionic sliderIndex() in the css class

.animate-bg-0-add, .animate-bg-0-remove, .walkthrough-text-color-0-add, .walkthrough-text-color-0-remove
.animate-bg-1-add, .animate-bg-1-remove, .walkthrough-text-color-1-add, .walkthrough-text-color-1-remove
.animate-bg-2-add, .animate-bg-2-remove, .walkthrough-text-color-2-add, .walkthrough-text-color-2-remove
.animate-bg-3-add, .animate-bg-3-remove, .walkthrough-text-color-3-add, .walkthrough-text-color-3-remove {
    transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -webkit-transition: background-color 500ms linear;
}


// #### Individual Slide Styles ####7

// This is where you specify the 
// background-color and color of each slide


// Slide 0
// --------------------------

.walkthrough-text-color-0 {
	color: white;
}
.animate-bg-0,
.animate-bg-0-add.animate-bg-0-add-active
{
	background-color: $alizarin;
	@extend .walkthrough-text-color-0;
}

// End Slide

// Slide 1
// --------------------------
.walkthrough-text-color-1 {
	color: white;
}
.animate-bg-1,
.animate-bg-1-add.animate-bg-1-add-active
{
	background-color: $orange;
	@extend .walkthrough-text-color-1;
}

// End Slide

// Slide 2
// --------------------------
.walkthrough-text-color-2 {
	color: $alizarin;
}
.animate-bg-2,
.animate-bg-2-add.animate-bg-2-add-active
{
	background-color: $clouds;
	@extend .walkthrough-text-color-2;
}

// End Slide


// Slide 3
// --------------------------
.walkthrough-text-color-3 {
	color: $mine-shaft;
}
.animate-bg-3,
.animate-bg-3-add.animate-bg-3-add-active
{
	background-color: $silver;
	@extend .walkthrough-text-color-3;
}


// End Slide