// General Rules for items not classified elsewhere

	// Margins
	.no-margin {margin:0;}
	// .rubyonic-pane {padding-top:10px;}
	.rubyonic-pane .ruby-button-clear {border:none; background:none;}

	.bar.bar-transparent {background:none; border-bottom:3px solid transparentize($brand-analogous-color, 0.2);}