<ion-side-menus enable-menu-with-back-views="false" class="tinder-premium-one" >
  <ion-side-menu-content drag-content="false" class="">
    <ion-nav-bar class="">
     <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

        <button class="button button-clear icon ion-android-star" menu-toggle="right">
        </button>
      </ion-nav-buttons>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="250" class="premium-menu-screen left" >

    <div ng-controller="HomeCtrl">
    <ion-content>
      <ion-list>

       <!-- <ion-item menu-close ui-sref="premiumappOne.tinder-profile({profileID: 1})" class="item-thumbnail item-icon-right"> -->
        <ion-item menu-close ui-sref="premiumappOne.tinder-profile({profileID: 1})" class="item-thumbnail item-icon-right">
          <img src="{{user.picture}}" class="profile-thumb">
          {{user.name}}
          <!--<i class="icon ion-ios-gear-outline"></i>-->
        </ion-item>

        <ion-item menu-close ui-sref="app.home" class="item-icon-left">
          <i class="icon ion-ios-gear-outline"></i> Settings
        </ion-item>

        <ion-item menu-close ui-sref="app.location"  class="item-icon-left">
          <i class="icon ion-ios-information"></i> New Search
        </ion-item>
        <ion-item>
          <button class="button button-clear" ng-click="showLogOutMenu()"><i class="ion-log-out"></i> Logout</button>
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-assertive padding-horizontal">

      </div>
    </div>
  </ion-side-menu>



  <ion-side-menu side="right" width="250">
      <div ng-controller="LikesCtrl">
    <ion-content class="premium-menu-screen">
      <label class="item item-input">
        <input type="text" placeholder="Search" ng-model="searchTxt" class="text-color-contrast">
      </label>
      <!-- Group Header -->
      <h3 class="group-header"><i class="ion-android-star"></i>Likes </h3>
      <!-- End Group Header -->

      <div class="list matches">
          <div ng-repeat="like in likes | filter: searchTxt">
          <a class="item item-avatar" ui-sref="premiumappOne.tinder-profile({profileID: like._id})">
            <img ng-src="{{like.pictures[0]}}">
            <h2 class="match-name">{{like.address}}</h2>
            <p class="match-detail">{{like.category}}</p>
            <!--<span class="badge badge-assertive">0</span>>-->
          </a>
        </div>

      </div>

    </ion-content>
      </div>
  </ion-side-menu>
</ion-side-menus>
