<!-- Tinder Profile - refer to tinder.scss -->
<ion-view view-title="Tinder Profile" hide-nav-bar="true">
  <ion-content scroll="true" class="premium-profile-screen" ng-controller="TinderProfileCtrl">
    <div class="bar">
      <button class="button button-clear icon ion-ios-arrow-back" ui-sref="premiumappOne.cardSwipe"></button>
      <h1 class="title">{{profileDetails.address}}</h1>
      <button class="button button-clear icon ion-android-star" menu-toggle="right">
        <span class="notification-bubble"></span>
      </button>
    </div>
    <div class="tinder-profile">

    <!-- Slider Area - Propagate your profile images here -->
    <div class="slider-clip" ng-if='profileDetails.pictures.length > 0' >
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="image in profileDetails.pictures">
          <img ng-src="{{image}}" src="{{image}}" preload-image default-image="img/demo/loader.svg" fallback-image="img/demo/profile-default.jpg" alt="">
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="profile-details row">
      <div class="col">
        <h4><span class="bold">{{profileDetails.address}}</span></h4>
        <h6>Location: {{profileDetails.city}}, {{profileDetails.province}}, {{profileDetails.postal}}</h6>
        <h6>Type: {{profileDetails.category}}</h6>
      </div>
      <!--<div class="col tinder-profile-actions">
        <button class="button button-clear accept" ui-sref="app.maps"><i class="icon ion-navigate"></i></button>
        <button class="button button-clear" href="#contact-form"><i class="icon ion-email"></i></button>
      </div>-->

      <!-- social sharing icons-->
      <div class="card" ng-controller="Social">
        <div class="item item-text-wrap row">
          <button ng-click="share('f', 'Concerning your post {{profileDetails.address}}', '', '');" class="button button-light col col-20">
            <i class="icon ion-social-facebook"></i>
          </button>
          <button ng-click="share('twit', 'Concerning your post ', '', '');"  class="button button-light col col-20">
            <i class="icon ion-android-twitter"></i>
          </button>
          <button ng-click="share('w', 'Concerning your post ', '', '');" class="button button-light col col-20">
            <i class="icon ion-social-whatsapp"></i>
          </button>
        </div>
      </div>

    </div>
    <div class="profile-content">
      <hr style="border:1px solid #f1f1f1;"/>

            <div class="middle_sec_s15">

            <div class="row">
              <div class="col"><b>{{profileDetails.bedrooms}}</b> Beds</div>
              <div class="col"><b>{{profileDetails.lotSize}}</b> lot size</div>
            </div>

            <div class="row">
              <div class="col"><b>{{profileDetails.bathrooms}}</b> Bath</div>
              <div class="col"><b>{{profileDetails.yearBuilt}}</b> build</div>
            </div>

            <div class="row">
              <div class="col"><b>{{profileDetails.squareFoot}}</b> Sqft</div>
              <div class="col"><b>5</b> days on market</div>
            </div>

            </div>
    </div>
    <hr style="border:1px solid #f1f1f1;"/>

    <div class="row">
      <div class="col no_h_padding"><h4 class="no_h_margin purple-text" >Description</h4></div><!--style="color:#880BE8;"-->
      <div class="col text_right_side">#{{profileDetails.mlsNumber}}</div>
    </div>
    <div class="description">
      {{profileDetails.description}}
    </div>
    <hr style="border:1px solid #f1f1f1;"/>
    <div class="contact-form" id="contact-form">
      <h3>Contact the Realtor</h3>
      <form class="realtorContact" id="messageForm">
        <label class="item item-input msgBox">
        <input type="text" placeholder="Full Name" required ng-model="message.name">
      </label>
      <label class="item item-input msgBox">
        <input type="email" placeholder="Your Email" required ng-model="message.from">
      </label>
        <textarea rows="5" class="emailMessage" name="message" form="messageForm" ng-Required="true" ng-model="message.text">Enter Message here...</textarea>
        <button class="s6_sreach_btn" type="submit" ng-click="sendMessage(message)">Submit</button>
      </form>
    </div>
  </div>
  </ion-content>
</ion-view>
