/* Empty. Add your own CSS if you like */
/*** Welcome page Css ***/
.welcome-view{
  background-color: #80008E;
  color: #FFFFFF;
  font-weight: bold;
}

.app-logo{
  color: #FFFFFF;
  font-weight: bold;
}

.location-view{
  background-color: #FEFEFA;
}

.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
//maps
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
.angular-google-map-container {
  height: 100%;
}

.marker-labels {
  width: 160px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
//end of maps
.description{
  padding-left: 1em;
  padding-right: 1em;
}
/*** multiple range slider ***/
.item.has-nouislider {
  display: flex;
  padding-left: 11px;
  padding-right: 11px;
}
.item.has-nouislider i {
  display: block;
  min-width: 24px;
  text-align: center;
  font-size: 24px;
  text-align: center;
}
.item.has-nouislider [ya-no-ui-slider] {
  flex: 1;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}
.item.has-nouislider [ya-no-ui-slider] .noUi-base {
  margin-left: 17px;
  margin-right: 13px;
  width: auto;
}
.item.has-nouislider [ya-no-ui-slider] .noUi-origin:first-child:before {
  content: '';
  background: $colorPrimary;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.item.has-nouislider [ya-no-ui-slider] .noUi-origin:last-child:before {
  content: '';
  background: 0%;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.item.has-nouislider [ya-no-ui-slider] .noUi-handle {
  top: -3px;
  height: 29px;
  width: 29px;
  border-radius: 100%;
  border: 0;
  background: #fff;
  box-shadow: 0 0 2px 0 1, 0 2px 5px 0 1;
}
.item.has-nouislider [ya-no-ui-slider] .noUi-handle:after,
.item.has-nouislider [ya-no-ui-slider] .noUi-handle:before {
  display: none;
}
.item.has-nouislider [ya-no-ui-slider]:before {
  content: '';
  background: 0%;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.item.has-nouislider.light [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorLight;
}
.item.has-nouislider.stable [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorStable;
}
.item.has-nouislider.positive [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorPositive;
}
.item.has-nouislider.calm [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorCalm;
}
.item.has-nouislider.balanced [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorBalanced;
}
.item.has-nouislider.energized [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorEnergized;
}
.item.has-nouislider.assertive [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorAssertive;
}
.item.has-nouislider.royal [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorRoyal;
}
.item.has-nouislider.dark [ya-no-ui-slider] .noUi-origin:first-child:before {
  background-color: $colorDark;
}
/*** Contact-Form ***/
.contact-form.emailMessage{
  margin: 1em;
}

/*** end *****/
.msgBox{
  padding-left: .5em;
  padding-right: .5em;
}
/*** Changin the colour red****/
.item.item-input, .menu-screen .item.item-input{
  background: #80008E;
}

.dropdown{
  background: #fff;
}
.input-label{
  color: black;
}

/** our edit**/
td-card.ruby-tindercard.tinder-style-two .tinder-thumb img{
  height: 290px;
  width: auto;
}
.emailMessage{
  border: 2px solid;
  width: 100%;
  margin-bottom: 1em;
  background: #80008E;
/*  margin-left: 1em;
  margin-right: 1em;*/
}
/***** Styles from previous project, removed unused ****/
.cus_input_field{

		border-radius:10px;
		/*background:#333;*/
		background:#fff;
		margin-bottom: 6%;

    	/*opacity: 0.4;
    	width: 80%;margin-left: 7%;*/
	}
.login-permission_text{
		color:#FFF;
		font-size:12px;
		margin-left:3px;
		text-align: center;
	}

.chr{
	margin-bottom:7%;
	}

.create_acc_btn{
		background:#80008E;
		color:#fff;
		font-weight:bold;
		border:0;
	}
.login-bot-text{
	color:#FFF;
	margin-left:25%;
	}
.login-bot-text a{
	font-weight:bold;
	text-decoration:underline;
	color:#FFF;
	}
.list .button-positive.fb_btn{
	background:#0f5278;
	border:0;
	bottom:-7px;
	}
.login_footer{
	background:none;
	/*position:fixed;
	bottom:0;
	left:O;
	text-align:center;
	width:100%;*/

	}
.login_footer h1{
	color:#FFF;
	text-decoration:underline;
	}
.login_footer h1 a{
	font-size:12px;
	}
.starts_screen_bgs{
	margin: 15px;
padding: 10px 20px;
	}
.starts_screen_bgs h5{

	color:#80008E;
	font-size:20px;

}
.starts_screen_bgs h4{
	color:#80008E;
	font-weight:bold;
	font-size: 22px;
}
.contant_cus_sec{
padding: 10px 20px;
/*background-color: RGBA(0, 0, 0, 0.3 );*/
border-radius: 10px;
	}
.cus_search_field{

		border-radius:5px;
		background:#d3d3d3;
		margin-bottom: 6%;
		padding: 3px;

	}
.cus_search_field_two{

		border-radius:5px;
		background:#FFFFFF;
		margin-bottom: .5%;
		padding: 3px;

	}
.current_location_btn{
	width:70%;
	border:1px solid white;
	border-radius:20px;
	text-align:center;
	height:25px;
	margin-left:13%;
	}
.current_location_btn p{
	color:#FFF;
	}
.check_div{
	padding-top:10px;
	}
.contant_cus_sec .row .col{
	color:#fff;
	font-size:12px;
	/*text-align:center;*/
	}
.row_bed .col{
	border:1px solid white;
	color:#FFF;
	}

.row_type .col{
	border:1px solid white;
	color:#FFF;
	}

.first_left{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background:#999;
	color:#80008E !important;
	}
.last_right{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	}
.select_pro_btn{
		background:#80008E;
		color:#fff;
		font-weight:bold;
		width:45%;
		height:35px;
		margin-left: 28%;
		border:0;
		border-radius:5px;
		font-size:16px;
		margin-top:10px;
	}

.s4_contant_cus_sec{
padding: 35px 40px;
background-color: RGBA(0, 0, 0, 0.3 );
border-radius: 10px;
	}

.screen_four{
		color:#FFF;
		font-size:24px;
		text-align:center;
		line-height:30px;
	}
.screen_four_text_two{
		color:#FFF;
		font-size:18px;
		text-align:center;
		margin-top:30%;
	}
.screen_four span{
		font-weight:bold;
	}

.screen_five_header{
	background:#80008e;
	}

.screen_five_header .buttons a{
	background:none;
	border:none;
	color:#FFF;
	}

.screen_five_header .title{
	color:#FFF;
	font-weight:bold;
	}
.header_cancel_text{
	font-size:17px !important;
	}
.header_setting_text{
	font-size:17px !important;
	}
.s4_notity_btn{
		/*background-color: RGBA(255, 255, 255, 0.3 );*/
		background-color: RGBA(128,0,142, 0.3 );
		color:#fff;
		font-weight:bold;
		width:60%;
		height:35px;
		margin-left: 20%;
		border:0px;
		border-radius:5px;
		font-size:16px;
		margin-top:40px;
	}
.s4_notity_btn:hover{
		background-color: #80008E;
	}

.s5-header{
	box-shadow:0px 2px 4px #CCC;
	line-height:7px;
		}
.s8-header{
	box-shadow:0px 2px 4px #CCC;
	line-height:7px;
		}
.s8-header .col{
	color:#255B7F;
	font-size:11px;
	/*padding-left:9px;*/
	}
.s8-header .col:first-child{
	margin-left:3px;
	}


.s5-header .col{
	/*color:#255B7F;*/
	color: #80008E;
	font-size: 11px;
	line-height: 1;
	/*padding-left:9px;*/
	}
.s5_footer{
	background:#ffffff;
	}
.s15_footer{
	background:#f1f1f1;
	}

.s5_footer .title{
	color:#fff;
	}
.s5_footer .footer{
    background-color: #ffffff;
}

.s5_footer .buttons a{
	background:none;
	border:none;
	color:#FFF;
	font-size:15px;
	}
.s5_contant_desi{

  margin: 195px 0;
	padding: 0px 20px;
	border-radius: 10px;
	text-align:center;
	}
.s9_contant_desi{
	margin: 20px;
	padding: 0px 20px;
	border-radius: 10px;
	text-align:center;
	}
.s6_contant_desi{
	margin: 15px;
	padding: 0px 20px;
	border-radius: 10px;
	text-align:center;
	}
.s6_contant_desi .row{
	padding:0;
}
.s5_contant_desi p:first-child{
	/*font-weight:bold;*/
	font-size:16px;
	margin:0;
	}
.red-text{
		color:#ca0000;
}
.gray{
	color:#c1c1c1;
	/*background:#c1c1c1;*/
	}
.current_location_btn_two{

	width:70%;
	/*border:1px solid #255B7F;*/
	border:1px solid #80008E;
	border-radius:20px;
	text-align:center;
	height:25px;
	margin-left:13%;
	}
.current_location_btn_two p{
	/*color:#007AFF;*/
	color:#80008E;

}
.row_bed2 .col{
	/*border:1px solid #007aff;*/
	border:1px solid #80008E;
	/*color:#007AFF;*/
	color:#80008E;
	font-family: 'Roboto Medium';
	}

.pink_hr{
	/*color:#FADBFF;*/
	color:#fadbff;
	}
.pink-text{
	/*color:#FADBFF;
	color:#fadbff;*/
	color:#80008E;
	}

.blue{
	color:#007AFF;
	}
.text_right_side{
	text-align:right;
	}
.text_left_side{
	text-align:left;
	}
.col.first_left2.row_active{
color:#FFF;
/*background:#007AFF;*/
background:#80008E;
}
.first_left2{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	/*background:#007AFF;*/
	}
.last_right2{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	}

.s6_save_checkbox{
	float:left;
	margin-top:5px;
	width:65%;
	}
.s6_save_checkbox .s6_check_box{
	float:left;
	margin-top:5px;

	}
.s6_search_text{

		color:#fff;

		font-size:16px;
		margin-left:5px;
		float:left;
	}
.s6_sreach_btn{
		background:#80008E;
		color:#fff;
		float:right;
		width:45%;
		height:35px;
		border:0;
		border-radius:5px;
		font-size:16px;
        margin-top: 10px;
	}
  .s6_sreach_btn2{
  		background:#80008E;
  		color:#fff;
  		float:left;
      margin-right: 10%;
  		width:45%;
  		height:35px;
  		border:0;
  		border-radius:5px;
  		font-size:16px;
        margin-left: 100px;
  	}
.purpul{
	color:80008E;
	}
.s7_icon{
	float:right;
	margin-top:0;
	color:#FFF;
	}
.s7_text{
	bottom:0;
	margin-top:25%;
	}
.s7_text h3{
	/*color:#FFF;*/
	color:#FADBFF;
	font-size: 26px;
	font-weight: bold;
	}
.s7_text p{
	/*color:#FFF;*/
	color:#FADBFF;
	}
.s7_last_smal{
	font-size:10px;
	}
.newest_btn{
		/*background:#00C;*/
		background:#80008E;
		color:#fff;
		width:45%;
		height:35px;
		border:0;
		border-radius:5px;
		font-size:16px;
	}

.s9_sort_btn{
		background:#80008E;
		color:#fff;
		width:45%;
		height:35px;
		border:0;
		border-radius:5px;
		font-size:16px;
		margin-left: 29%;
	}
.s9_list .col{
	border-bottom:1px solid #FADBFF;
	/*color:#006;*/
	color:#80008E;
	}
.item_images_two{
	/*background-image:url(../../../img/sample_map.png) ;*/
	background-image:url(../img/sample_map.png) ;
	background-size:cover;
	height:250px;
	border-bottom:4px solid white;
	}

.s10_box_heading h2{
	font-weight:bold;
	}

.s10_ima_box{
	background:#FFF;
	border-radius:5px;
	margin-top:20%;
	}
.s10_ima_box .row .col:first-child{
	/*background:#fc0;*/
	background:#FADBFF;
	border-radius:5px;
	height:80px;
	margin-top: 6px;
	text-align:center;
	}
.s10_footer{
	/*color:#007aff;
	color:#80008E;*/
	background:#80008E;
	color:#fff;
	}
.s10_ima_box .row .col:last-child{
	text-align:right;
	}
.s10-header{
	box-shadow:0px 2px 4px #CCC;
	line-height:7px;
		}
.s10-header .col h2{
	/*color:#007aff;*/
	color:#80008E;
	margin-left: 3px;
	font-size: 33px;
		}
.s10_edit_btn{
		background-color: RGBA(255, 255, 255, 0.3 );
		/*color:#007aff;*/
		color:#80008E;
		width:70%;
		margin-top:5%;
		height:35px;
		border: 1px solid #80008E;
		border-radius:5px;
		font-size:16px;
		float: right;
	}

.purple-text{
	color:#80008E;
	}



.s12_decresing_text{
	color:#FF0;
	font-size:12px;
	}
.s12_decresing_text h3{
	color:#FF0;
	font-size:12px;
	font-weight:bold;
	display:inline;
	}


.s14_notification{

	font-size:9px;
	width:20%;
	background:#fadbff;
	/*border:1px solid blue;*/
	color:#80008e;
	font-weight:bold;
	border-radius:9px;
	padding:3px;

	}
.s14_notification p{
	font-size:9px;
	width:0;
	height:0;
	}

.s14_score_box {
	/*background-image:radial-gradient(circle at top right, #FADBFF -48%, white);*/
	background-image:radial-gradient(circle at top right, green -48%, white);
	background-repeat:no-repeat;
  	background-size:cover;
  	width: 100%;
  	height:90px;
}



.no_bottom_padding{
	padding-bottom:0;
	margin-bottom:0;
	}
.school_serving{
	margin:10px;
	}
.img_numbering{
	background-color: RGBA(0, 0, 0, 0.3);
	width:55px;
	float:right;
	height:20px;
	color:#fff;
	font-weight:bold;
	margin-top:150px;

	}

.s14_score_box .row .col h3{
	margin:0;
	}
.s14_score_box .row .col p{
	margin:0;
	}

.green{
	color:#060;
	}
.s14_circle_numbering{
	background:#80008E;
	border-radius:15px;
	padding:8px;
	color:#fff;
	}
.s14_save_btn{
		background-color: #80008E;
		color:#fff;
		width:30%;
		margin-top:5%;
		margin-left: 30%;
		height:35px;
		border: 0px;
		border-radius:5px;
		font-size:16px;
		float: right;
	}
.s14_delete_btn{

		color:#80008E;
		width:10%;
		margin-left:3%;
		margin-top:5%;
		height:35px;
		border: 1px solid #80008E;
		border-radius:5px;
		font-size:16px;
		float: right;
	}
.active_notify{
	/*color:#fadbff;*/
	color:#FADBFF;
	font-size:12px;
	font-weight:bold;
	}
.s15_content{
	padding:5px;
	/*background-color: #80008e;
	#880BE8*/
	color:#80008e;
	}
.s15_content h3{
	margin-bottom:0;
	margin-top:5px;
	}
.s15_content h5{
	margin:0;
	}
.text_inline{
	display:inline;
	}
.car_distance_box{
	/*background:#ccf0fe;*/
	background:#fadbff;
	display:inline-block;
	width:15%;
	padding:5px;
	border-radius:5px;
	float:left;
	/*color:#5d9eff;*/
	color:#80008e;
	}
.s15_content_right_side h4{
	/*color:#5d9eff;
	color:#fff;*/
	font-weight:bold;
	}
.car_distance_box i{
	font-size:24px;
	line-height:20px;
	float:left;
	}
.car_distance_box p{
	font-size:10px;
	line-height:10px;
	float:left;
	margin-left: 10%;
	margin-bottom:0;
	}
.no_h_margin{
	margin:0;
	}
.no_h_padding{
	padding:0;
	}
.s15_img_box {
	/*background-image:url(../../../img/oprah-winfrey.jpg) ;*/
	background-image:url(../img/oprah-winfrey.jpg) ;
	background-repeat:no-repeat;
  	background-size:cover;
  	width: 100%;
  	height:180px;
}

.s15_dis_box{
	width:90%;
	line-height:35px;
	}
.or_box{
	width:100%;
	height:30px;
	margin-top: -35px;
	margin-bottom: 11px;
	/*border:1px solid black;
	border-radius:20px;*/
	color:#000;

	text-align:center;
	line-height: 25px;
	}
.or_box_circle{
	border-radius:50%;
	display:inline-block;
	padding-bottom: 5px;
    padding-top: 2px;
	background:#CCC;
	width:33px;
	}

#firstMaps{
	width: 100%;
  height: 100%;
	}
.scroll {
  height: 100%;
}

.tinder-premium-one .bar {
  min-height: 50px;
  background-color: #80008e;
  border: none; }

.title title-left header-item{
    color: #fff;
    position: center;
}

.button-controls{
    margin-bottom: 4em;
}

.padding{
   margin-top: 3em;
   font-size: .5em;
}

